body {
    margin: 0;
    font-family: "Poppins";
}

header {
    height: $nav-height;
    background-color: $nav-background;
    
}

.nav-container {
    max-width: $content-width;
    margin: 0 auto;
}

nav {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            
            float: left;
            position: relative;
            a {
                display: block;
                font-size: large;
                padding: 10px;
                line-height: 50px;
                color: $nav-font-color;
                text-decoration: none;
            }
        }
    }

    .search-bar {
        float: left;
        //padding-left: 50px;
        margin-right: 30px;
        line-height: 70px;
        button{
            background-color: $btn-green-color;
        }
        button:hover{
            cursor: pointer;
            background-color: green;
        }
    }

}

.img-container{
    
   img{
    display: block;
    margin: 0 auto;
   }
}
