button {
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: large;
    color: white;
}

input[type=search] {
    width: 400px;
    padding: 10px;
    margin: 5px;
    font-size: large;
}

.brand {
    position: absolute;
    padding-left: 30px;
    float: left; //position-fixed
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

.nav-hamburguer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
    .nav-hamburguer {
        display: block;

    }

    #btnSearchMovie {
        display: block;
        margin: 0 auto;
    }

    nav {
        width: 100%;
        padding: $nav-height 0 15px;

        ul {
            display: none;

            li {
                float: none;

                a {
                    padding: 15px;
                    line-height: 20px;

                    &:hover::before {
                        width: 20%;
                    }
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }

    .nav-dropdown {
        position: static;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $link-hover-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    span:before {
        top: -10px;
    }

    span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

.img-responsive {
    width: 100%;
    height: auto;
}

h2 {
    display: block;
    text-align: center;
}

#table-available-movies {
    tr {
        color: aqua;
        img{
            width: 100%;
            height: auto;
        }
    }
}