button{
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: large;
    color: white;
}

input[type=search] {
    width: 400px;
    padding: 10px;
    margin: 5px;
    font-size: large;
}