button {
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: large;
    color: white;
    cursor: pointer;
}

input[type=search] {
    width: 400px; //400px;
    padding: 10px;
    margin: 5px;
    font-size: large;
}

.brand {
    position: absolute;
    padding-left: 30px;
    float: left; //position-fixed
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

.img-responsive {
    width: 100%;
    height: auto;
}

h2 {
    display: block;
    text-align: center;
}