body {
    background-image: url('/assets/imgs/background-3.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.form-container {
    width: 30%;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    padding: 2%;
    margin: auto;
    margin-top: 10%;

    form {

        .form-description {
            text-align: center;

            h2 {
                margin-top: 0;
            }

        }



        .form-inputs {
            display: block;

            .input-form {
                font-size: medium;
                border: none;
                background-color: $input-form;
                padding: 3%;
                margin: 1%;

            }

            #first-name {
                width: 40%;
            }

            #last-name {
                width: 40%;
            }

            #username {
                width: 89%;

            }

            #email {
                width: 89%;
            }

            #passw {
                width: 89%;
            }
        }

        button {
            margin-left: 1%;
            margin-top: 1%;
            width: 95%;
            background-color: $btn-bluegreen-color;
            border-radius: 0;

            &:hover {
                background-color: #2f4f4f;
            }
        }

    }
}

@media only screen and (max-width: $breakpoint-large) {


    body {
        background-image: url('/assets/imgs/background-3-mobile.jpg');
        background-size: auto;

    }

    .form-container {
        width: 40%;
        margin-top: 5%;
        form {


            .form-inputs {

                .input-form {
                    font-size: medium;
                    margin: 2%;
                    padding: 5%;
                    width: 88% !important;
                }


            }

            button {

                width: 100%;
            }

        }
    }
}

@media only screen and (max-width: $breakpoint-mid) {
    .form-container {
        margin-top: 15%;
        width: 70%;
    }
}