@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$content-width: 1300px;
$breakpoint-large: 1400px;
$breakpoint: 1140px;
$breakpoint-mid: 900px;
$breakpoint-mobile: 700px;
$nav-height: 70px;
$nav-background: #F5F5F5;
$nav-font-color: #0c0c0c;
$link-hover-color: #1e3f66;
$btn-green-color: #00AB08;
$btn-bluegreen-color: #367588;
$input-form: #DEDEDE;