@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #D3D3D3;
$nav-font-color: #0c0c0c;
$link-hover-color: #1e3f66;